






<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>ADMIN PANEL</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link
      href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>



<div class="container">
   
            

        <form action="/admin/edit-product" method="post">
            <h2 class="mb-3">Edit Product</h2>
           
            <div class="mb-3">
                <label for="name" class="form-label">Brand</label>
                <input type="String" name="brand" class="form-control" value="{{product.brand}}" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Product Name</label>
                <input type="String" name="productname" class="form-control" value="{{product.productname}}" required>
            </div>
               
              <div class="mb-3">
                         <label for="category" class="form-label">Category</label>
                         <select name="category" class="form-control" required>
                            <option selected>{{product.category}}</option>
                            {{#each categories}}                              
                               {{!-- Skip rendering the option for unlisted categories --}} 
                             <option value="{{this._id}}">{{this.category}}</option>
                              
                            {{/each}}
                        </select>
                    </div>

            <div class="mb-3">
                <label for="email" class="form-label">Price</label>
                <input type="Number" name="price" class="form-control" value="{{product.price}}" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Image</label>
                <input type="String" name=" images" class="form-control" value="{{product.images}}" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Description</label>
                <input type="String" name="description" class="form-control" value="{{product.description}}" required>
            </div>
            

            {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            <script>
                // Show the error message in an alert box
                window.onload = function() {
                    setTimeout(function() {
                        alert("{{error}}");
                    }, 100);
                }
            </script>
            {{/if}}
            

            <input type="hidden" name="id" value="{{product._id}}">

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Update</button>
            
                {{!-- <button type="submit" class="btn btn-primary">Cancel</button> --}}
                <a href="/admin/add-products" class="btn btn-primary">Cancel</a>

            </div>
        </form>
            {{!-- {{/with}} --}}

    </div>


    

 

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script
      src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"
    ></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
  </body>

</html> 