
 


 {{!-- from Home page --}}

 <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">


 {{!-- stylesheet section link --}}
  <link rel="stylesheet" href="/stylesheets/core-style.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
 
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.min1.css">
   
  {{!-- <link rel="stylesheet" href="/stylesheets/forget.css"> --}}
  {{!-- <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css"> --}}
   
  {{!-- <link rel="stylesheet" href="/stylesheets/login.css"> --}}
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
   
  <link rel="stylesheet" href="/stylesheets/nouislider.css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
   <link rel="stylesheet" href="/stylesheets/responsive.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> 
  <link rel="stylesheet" href="/stylesheets/themify-icons.css">  --}}























<div id="wrapper"> 

            <!-- Top Header Area End -->
            <div class="main_header_area">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 d-md-flex justify-content-between">
                            <!-- Header Social Area -->
                            <div class="header-social-area">
                                {{!-- <span class="karl-level">Share</span> --}}
                                <a href="#"> <i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <!-- Menu Area -->
                            <div class="main-menu-area">
                                <nav class="navbar navbar-expand-lg align-items-start">

                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>   
                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">

                            
                                         <li class="nav-item active"> <a href="#"><img src="img/core-img/logo.png" alt=""  ></a></li>


                                            <li class="nav-item active"><a class="nav-link" href="/home"> Home</a></li>
                                            {{!-- <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                                <div class="dropdown-menu" aria-labelledby="karlDropdown">
                                                    
                                                    <a class="dropdown-item" href="shop.html">Shop</a>
                                                    <a class="dropdown-item" href="product-details.html">Product Details</a>
                                                    <a class="dropdown-item" href="cart.html">Cart</a>
                                                    <a class="dropdown-item" href="checkout.html">Checkout</a>
                                                </div>
                                            </li> --}}
                                            <li class="nav-item"><a class="nav-link" href="#">Products</a></li>
                                            {{!-- <span class="karl-level">hot</span> --}}
                                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                                             {{!-- <li class="nav-item active"><a class="nav-link" href="cart.html">Cart<i class="ti-bag"></i> </a> --}}
                                             
                                               {{!-- <a href="#" id="header-cart-btn" target="_blank"> <i class="ti-bag"></i> </a> --}}
                                             
                                             
                                             </li>
                                             {{!-- <li class="nav-item"><a class="nav-link" href="#">Whishlist</a></li>
                                             <li class="nav-item"><a class="nav-link" href="#">Account</a></li> --}}
                                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Help Line -->
                           
                            <div class="help-line">
                               {{!-- <i class="ti-headphone-alt"></i> --}}
                                <a href="/logout">LOGOUT</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ****** Header Area End ****** -->














        

        <!-- ****** Top Discount Area Start ****** -->
        <section class="top-discount-area d-md-flex align-items-center">
            <!-- Single Discount Area -->
              
            <div class="single-discount-area">
                <h5>Free Shipping &amp; Returns</h5>
                {{!-- <h6><a href="#">BUY NOW</a></h6> --}}
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>15% Discount for all Products</h5>
                {{!-- <h6>USE CODE: Colorlib</h6> --}}
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>Flat ₹2,000 Instant Discount with Online-Payment</h5>
                {{!-- <h6>USE CODE: Colorlib</h6> --}}
            </div>
              
        </section>
        <!-- ****** Top Discount Area End ****** -->


        <!-- ****** Top Catagory Area Start ****** -->
        <section class="top_catagory_area d-md-flex clearfix">
            <!-- Single Catagory -->
            <div class="single_catagory_area d-flex align-items-center bg-img" style="background-image: url(img/bg-img/bg-2.jpg);">
                <div class="catagory-content">
                    <h6>On Accesories</h6>
                    <h2>Sale 30%</h2>
                    <a href="#" class="btn karl-btn">SHOP NOW</a>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="single_catagory_area d-flex align-items-center bg-img" style="background-image: url(img/bg-img/bg-3.jpg);">
                <div class="catagory-content">
                    <h6>This is the latest Collection of OnePlus  </h6>
                    <h2>New Series</h2>  
                    <a href="#" class="btn karl-btn">SHOP NOW</a>
                </div>
            </div>
        </section>
     

 <!-- ****** New Arrivals Area Start ****** -->
<section class="new_arrivals_area section_padding_100_0 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>New Products</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="row karl-new-arrivals">
            {{#each Product}}
            <!-- Single gallery Item Start -->
            <div class="col-12 col-sm-6 col-md-4 single_gallery_item women wow fadeInUpBig" data-wow-delay="0.2s">
                <!-- Product Image -->
                <div class="product-img">

                   
                    <img src="/uploads/{{images}}" alt="Image" width="250px" height="100px">
                     

                    <div class="product-quicview">
                        <a href="/quickview" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                    </div>
                </div>
                <!-- Product Description -->
                <div class="product-description">
                    <h3 class="product-price">{{this.brand}}</h3>
                    <h6>{{this.productname}}</h6>
                  
                    <h6>Price:   {{this.price}}</h6>
                      <p>{{this.description}}</p>
                    <!-- Add to Cart -->
                    <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                </div>
            </div>
            {{/each}}
        </div>
       
    </div>
</section>























        <!-- ****** Footer Area Start ****** -->
        <footer class="footer_area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_footer_area">
                            <div class="footer-logo">
                                {{!-- <ul>Hi,there we are</ul> --}}
                                <img src="img/core-img/logo.png" alt="" >                     
                                
                            </div>
                            {{!-- <div class="copywrite_text d-flex align-items-center">
                                <p>WE the Nexo Group are the top selling Platform in lead online selling sites, almost all Countries</p>
                            </div> --}}
                        </div>
                    </div>








                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">About</a></li>
                                {{!-- <li><a href="#">Blog</a></li>  --}}
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Returns</a></li>
                             <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Our Policies</a></li>
                                <li><a href="#">Afiliates</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-lg-5">
                        <div class="single_footer_area">
                            <div class="footer_heading mb-30">
                                <h6>Hi,there we are Nexo Group</h6>
                         
                            <div class="subscribtion_form">
                                <form action="#" method="post">
                                    <input type="email" name="mail" class="mail" placeholder="Your email here">
                                    <button type="submit" class="submit">Subscribe</button>
                                </form>
                            </div>
                             <div class="copywrite_text d-flex align-items-center">
                                <p>We the Nexo Group, are the top selling Platform in online selling sites almost in all Countries for Last 6 years.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                
 <script>
  <link rel="js" href="jquery/jquery-2.2.4.min.js">
   <link rel="js" href="js/active.js">
   <link rel="js" href="js/bootstrap.min.js">
   <link rel="js" href="js/plugins.js">
   <link rel="js" href="js/popper.min.js">
</script>


                 {{!-- Footer Bottom Area Start  --}}
                <div class="footer_bottom_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer_social_area text-center">
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ****** Footer Area End ****** -->
    </div>






       
 






 <script>
  <link rel="js" href="jquery/jquery-2.2.4.min.js">
   <link rel="js" href="js/active.js">
   <link rel="js" href="js/bootstrap.min.js">
   <link rel="js" href="js/plugins.js">
   <link rel="js" href="js/popper.min.js">
</script> 